<p>weather-charts works!</p>
<div *ngIf="weatherData; else noData">
  <div *ngFor="let forecast of weatherData">
    <h3>{{ forecast.date }}</h3>
    <p>Forecast: {{ forecast.forecast }}</p>
    <p>Temperature: {{ forecast.temperature.low }}°C - {{ forecast.temperature.high }}°C</p>
    <p>Humidity: {{ forecast.relative_humidity.low }}% - {{ forecast.relative_humidity.high }}%</p>
    <p>Wind: {{ forecast.wind.speed.low }} to {{ forecast.wind.speed.high }} km/h, direction {{ forecast.wind.direction
      }}</p>
  </div>


  <div class="weather-table">
    <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
    <ag-grid-angular style="width: 100%; height: 350px;" [class]="themeClass" [rowData]="tableRows" [columnDefs]="colDefs">
    </ag-grid-angular>
  </div>

</div>


<!-- ng-template for no data message -->
<ng-template #noData>
  <p>No data available</p>
</ng-template>