<div
  class="container-fluid d-flex flex-column align-items-center mt-5"
>
  <div class="col-lg-8 text-center">
    <h1 class="display-4">Let's Explore Weather History</h1>
    <p class="lead py-2">Discover past weather forecasts for the last 30 days</p>
    <button
      id="startBtn"
      type="button"
      class="btn btn-info rounded-circle d-inline-flex justify-content-center align-items-center mt-5"
      style="width: 110px; height: 100px"
      [routerLink]="['/weather-charts']"
    >
      <img src="assets/start.gif" alt="start" style="width: 150px" />
    </button>
  </div>
</div>
